<nav class="navbar navbar-expand-md navbar-light bg-light mb-3">
    <div class="container">
        <a href="/" class="navbar-brand"><h2>Pitch app</h2></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#menu"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a href="/" class="nav-link"><h4>Home</h4></a></li>
                <li class="nav-item"><a href="/pitches/interview" class="nav-link"><h4>Interview</h4></a></li>
                <li class="nav-item"><a href="/pitches/product" class="nav-link"><h4>Product</h4></a></li>
                <li class="nav-item"><a href="/pitches/promotion" class="nav-link"><h4>Promotion</h4></a></li>
                <li class="nav-item"><a href="/pitches/random" class="nav-link"><h4>Random</h4></a></li>
                <li class="nav-item"><a href="/pitches/funny" class="nav-link"><h4>Funny</h4></a></li>

            </ul>
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item"><a href="{{url_for('main.profile',uname=current_user.username)}}" class="nav-link"><h3>Profile</h3></a></li>
                <li class="nav-item"><a class="nav-link" href="{{url_for('auth.logout')}}"><h3>Sign out</h3></a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{{url_for('auth.login')}}"><h3>Sign in</h3></a></li>
                {%endif%}
            </ul>
        </div>
    </div>
</nav>